@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;

    --bg-color: #000000;
    --title-color:#FFFFFF;
    --text-color:#EFEFEF;

}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--bg-color);
   
    color: var(--text-color);
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

h1,h2,h4,h5,h6,h7,h8,button,a{
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 3rem;
}

.button{
max-width: 16rem;
transition: 0.5s;
}

.button:hover{
background-color: var(--text-color);
color: var(--bg-color);
}




/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--title-color) var(--bg-color);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--bg-color);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:var(--title-color);
    border-radius: 20px;
    border: 3px solid var(--bg-color);
  }