.no_scroll{
overflow: hidden;
}

header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem 0rem;
position: relative;
text-align: center;
padding:2rem;
z-index: 99;
max-height: 70px;
background-color: var(--bg-color);   
}

header > nav{
overflow-y: hidden;
height: 0px;
transition: 0.3s ease-in;
position: absolute;
top: 100%;
right: 0;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
gap: 3rem;
background-color: var(--bg-color);
z-index:2;
}

header > nav > ul{
overflow-y:hidden ;
}

.show{
height: 90vh;
padding: 6rem 02rem;
overflow-y: auto;
}

.show >ul> li > a{
display: block;
width: 100%;
padding: 0.8rem 0;
}

.menu_list,.menu_list_contact{
display: flex;
flex-direction: column;
gap: 3rem;
font-size: 1.8rem;
}

.menu_list > li > a,.menu_list_contact > li > a{
font-size: 1.6rem;
}

.menu_list_contact > li{
padding: 1.2rem 2.4rem;
border:0.1rem solid var(--text-color);
}

.menu_list_contact > li:last-child{
background-color: var(--text-color);
}

.menu_list_contact > li:last-child > a{
color: var(--bg-color);
}

.menu_list_mobile{
cursor: pointer;
border-top: 0.2rem solid var(--text-color);
width: 2.5rem;   
}

.menu_list_mobile::after,.menu_list_mobile::before{
display: block;
position: relative;
content: "";
width: 2.5rem;
height: 0.2rem;
background-color: var(--text-color);  
margin-top: 0.5rem; 
transition: 0.3s ease-in; 
}

.close{
border-color: transparent;
}

.close::after{
transform: rotate(130deg);
margin-top: -2px;
}

.close::before{
transform: rotate(-130deg);
}

.container_slide_home{
height: auto;
}

.container_services_home{
padding:13rem 2rem; 
text-align: left;

}

.container_services_home__title{
margin-bottom:6rem ;
position: relative;
font-size: 30px;
padding-bottom: 2.5rem;
}

.container_services_home__title::after{
content: "";
display: block;
width:10rem;
height: 0.2rem;
background-color: var(--text-color);
position: absolute;
top: 100%;
    
}

.container_slide_home__list_services{
display: flex;
flex-direction: column;
gap: 3rem;
}

.container_slide_home__list_services > li{
display: flex;
flex-direction: column;
align-items: flex-start;    
text-align: left;
gap: 1rem;  
}

.container_slide_home__list_services > li:not(:last-of-type){
margin-bottom: 3rem;
}

.container_slide_home__list_services > li > h4{
font-size: 20px;
}

.container_slide_home__list_services > li > p{
font-family: inherit;
font-size: 1.6rem;
line-height: 2.8rem;
}


.container_portfolio_home{

}

.container_portfolio_home__list_jobs{
display:flex;
flex-direction: column;
}

.container_portfolio_home__list_jobs > li{
position: relative;
}

.container_portfolio_home__list_jobs > li> a> img{
min-width: 100%;
max-width: 100%;
}

.container_portfolio_home__list_jobs > li > a > div{
position: absolute;
top: 50%;
width: 70%;
padding:1rem 2rem;
background-color: rgba(0, 0, 0, 0.705);
}

.container_portfolio_home__list_jobs > li > a > div > h5{
font-size: 1.8rem;
} 

.container_portfolio_home__list_jobs > li > a > div > p{
margin-top: 0.8rem;  
} 

.container_clients{
background-color: #0C0C0C;
padding: 9rem 2rem;
}

.container_clients ul {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 0.4rem;
justify-content: space-between;
}

.container_clients ul li{
padding: 0.5rem;
border: 0.1rem solid #aeaeae;
width: 49%;
}

.container_clients ul li img{
width: 100%;
margin: 0 auto;
}

.about_services,.about_our{
padding:6rem 2rem ;
display: flex;
flex-wrap: wrap-reverse;

}

.about_our{
padding-bottom: 0;
}

.about_services > img, .about_our > img{
width: 100%;
margin-bottom: 6rem;
}

.about_services__content{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
gap: 3rem;
}

.about_services__content h2, .container_meet  h2, .footer_cta h2{
margin-bottom: 6rem;
position: relative;
font-size: 30px;
padding-bottom: 2.5rem;
}

.about_services__content h2::after,.container_meet  h2::after,.footer_cta  h2::after{
content: "";
display: block;
width: 10rem;
height: 0.2rem;
background-color: var(--text-color);
position: absolute;
top: 100%;
}

.about_services__content span{
padding-left: 2rem;
position: relative;
display: block;
}

.about_services__content span::before{
display: block;
content: "";
position: absolute;
top:50%;
left: 0%;
margin-top: -0.2rem;
width: 0.4rem;
height: 0.4rem;
border-radius: 50%;
background-color: var(--text-color);
}

.about_services__content a{
border: 0.1rem solid var(--text-color);
padding: 1.5rem 2.5rem;
text-align: center;
}

.container_meet{
background-color: #0C0C0C;
padding: 9rem 2rem;
}

.container_meet div img{
width: 100%;
margin: 1rem auto;
}

.footer_cta{
padding: 9rem 2rem;
background-image: url("../assets/bg-footer-cta.jpg");
background-size: cover;
background-position: top;
background-color: red;
}

.footer_cta div{
text-align: left;
}

.footer_cta a, footer a{
border: 0.1rem solid var(--text-color);
padding: 1.5rem 2.5rem;
text-align: center;
display: inline-block;

}

footer{
padding: 6rem 2rem;
display: flex;
flex-wrap: wrap;
gap: 3rem;
}




















/* Tablet*/
@media (min-width:768px) {

.container_slide_home__list_services {
flex-flow: row wrap;
justify-content: space-between;
}

.container_clients ul li {
max-width: 160px;
}

footer{
align-items: center;    
justify-content: center;
}

}



/*
.menu_list_mobile{
display: none;
}

header > nav{
position: static;
height: auto;
width: 100%;
flex-direction: row;
justify-content: right;
}

header nav ul{
overflow: auto;
}
.menu_list,.menu_list_contact{
display: flex;
flex-direction: row;
gap: 3rem;
}
   


*/