.no_scroll{
    overflow: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    position: relative;
    text-align: center;
    padding:2rem;
    
   
    background-color: var(--bg-color);
    
}

.hidden{
    display: none;
}


header > nav{
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 6rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    background-color: var(--bg-color);
    z-index: -1;
   
}

.menu_list,.menu_list_contact{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.8rem;

}


.menu_list_contact > li{
    padding: 1.2rem 2.4rem;
    border:0.1rem solid var(--text-color);
    border-radius:2rem;
}


.menu_list_contact > li:last-child{
    background-color: var(--text-color);
}


.menu_list_contact > li:last-child > a{
    color: var(--bg-color);
}


.toggle_menu_mobile{
    cursor: pointer;
    background-color: transparent;
    min-width: 4rem;
    min-height: 3rem;
    background-image: url("../assets/header-menu-mobile.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    
}


.close{
    background-image: url("../assets/header-menu-close.svg");


}


.container_slide_home{
    height: auto;
}


.container_services_home{
   padding:13rem 2rem; 
   text-align: left;

}


.container_services_home__title{
    margin-bottom:6rem ;
    position: relative;
    font-size: 30px;
    padding-bottom: 2.5rem;
}


.container_services_home__title::after{
    content: "";
    display: block;
    width:10rem;
    height: 0.2rem;
    background-color: var(--text-color);
    position: absolute;
    top: 100%;
    
}


.container_slide_home__list_services{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.container_slide_home__list_services > li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    text-align: left;
    gap: 1rem;

    
}


.container_slide_home__list_services > li:not(:last-of-type){
    margin-bottom: 3rem;
}


.container_slide_home__list_services > li > h4{
    font-size: 20px;

}


.container_slide_home__list_services > li > p{
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

















































/* Tablet*/
@media (min-width:768px) {
    .hidden{
        display: flex;
    }
    .menu_list_mobile{
        display: none;
    }


    header > nav{
        position: static;
        height: auto;
        width: 100%;
        flex-direction: row;
        justify-content: right;
    }
    .menu_list,.menu_list_contact{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    
   


}




/*Desktop*/