.container_slide_home .swiper-slide{
width: 100vw;
height: 75vh;
padding: 4rem 2rem;
position: relative;
background-position: center;
background-repeat: no-repeat;
background-size: 150% 100%;
transition: background-size 20s linear;
}

.container_slide_home .swiper-slide-active{
background-size: 280% 150%;
}

.slide1{
background-image: url("../assets/foto-home.png"); 
}

.slide2{
background-image: url("../assets/foto-home2.jpg");
}

.slide3{
background-image: url("../assets/foto-home3.jpg");
}

.slide-content{
position: absolute;
top: 25%;
color: var(--text-color);
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4rem;
}

.slide-content > h2{
font-size: 4.5rem;
position: relative;
padding-bottom: 1.5rem;
}

.slide-content > h2::after{
content: "";
display: block;
width:10rem;
height: 0.2rem;
background-color: var(--text-color);
position: absolute;
top: 100%;
}


.container_slide_home .swiper-slide-active .slide-content h2{
animation: showTextSlide 0.5s linear forwards;
    
}

.container_slide_home .swiper-slide-active .slide-content p{
animation: showTextSlide 0.7s linear forwards;     
}

.container_slide_home .swiper-slide-active .slide-content a{
animation: showTextSlide 0.8s linear forwards;
              
}
    

.slide-content > .button{
margin-top: 0;
min-width: 16rem;
}

.slide-content > button:focus, .slide-content > button:hover{
background-color: var(--text-color);
color: var(--bg-color);
}

.slide-content > p{
display: none;
}

.swiper-button-next,.swiper-button-prev{
display: none;
}

.swiper-pagination-bullets{
top: 80%!important;
} 

.swiper-pagination-bullet{
width: 1rem;
height: 1rem;
border: 0.2rem solid var(--text-color);
border-radius: 50%;
background-color: transparent;
}

.swiper-pagination-bullet-active{
background-color: var(--text-color);
border:none;
}

.container_testimony{
padding: 6rem 3rem; 
}

.slide-testimony  {
overflow-x: hidden;
}

.slide-testimony > .swiper-wrapper > .swiper-slide-active{
display: flex;
flex-direction: column;
align-items: center;
gap: 3rem;
text-align: center;
}

.swiper-pagination-testimony {
margin-top: 3rem;
text-align: center;
}









@media (min-width:768px) {

.container_slide_home .swiper-slide{
height: 85vh;
background-size: 100% 100%;
transition: background-size 100s linear;
}
    
.container_slide_home .swiper-slide-active{
background-size: 160% 120%;
}

.slide-content > p{
display: block;
width: 60%;
}   

.swiper-button-next,.swiper-button-prev{
display: block;
}

.swiper-button-next:after, .swiper-button-prev:after{
font-size: 28px;
color: #fff;
}



}



@media (min-width:1024px) {
.container_slide_home .swiper-slide{
height: 100vh;
}

.slide-content > p{
width: 40%;
}

.container_slide_home .swiper-slide{
    padding: 4rem 9rem;
}



}




@keyframes showTextSlide {
    0%{
        opacity: 0;
        transform: translateX(60%);

    }
    50%{
        opacity: 0.5;
        transform: translateX(30%);

    }
    100%{
        opacity: 1;
        transform: translateX(0%);


    }
    
}